<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.todayhome">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".config.kakao_api.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodayHome"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.HomeFragment.EventActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.my_page.passwordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.my_page.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.store.DetailPopularActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.store.StoreHomeTodayDillActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.store.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.store.adapter.GridMenuLayout2"
            android:exported="false" />
        <activity
            android:name=".src.main.store.adapter.GridMenuLayout"
            android:exported="false" />
        <activity
            android:name=".src.main.store.store_home_Item_layout_banner"
            android:exported="false" />
        <activity
            android:name=".src.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".src.login.NonMembersActivity"
            android:exported="false" />
        <activity
            android:name=".src.login.Email_join_Activity"
            android:exported="false" />
        <activity
            android:name=".src.login.Password_reset_Activity"
            android:exported="false" />
        <activity
            android:name=".src.login.Email_loginActivity"
            android:exported="false" />
        <activity
            android:name=".src.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".src.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao${kakaoApiManifest}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>